# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/

# Environment varijable
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Generisani fajlovi
generated/

# OS
.DS_Store
Thumbs.db
